.container-cards {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.card:hover {
    background-color: #ffb6c1;
}



.card {
    border-radius: 16px;
    border: 1px solid #dddddd;
    padding: 20px;
    margin: 10px;
    box-shadow: #aaaaaa 2px 2px 4px;
    display: flex;
    flex-direction: column;
    width: 300px;

}

.foto {
    flex-direction: column;
    width: 250px;
    height:250px;
    object-fit: contain;
    display: flex;
    margin: auto;
    padding: auto;

}

.info {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.info .modelo {
    font-size: 16pt;
    color: #333333;
}

.info .marca {
    font-size: 12pt;
    color: #777777;
}

.info .outros {
    font-size: 12pt;
}

.info .separador {
    color: #aaaaaa;
    padding: 10px;
}